* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: "Microsoft Yahei", sans-serif; 
}

body { 
    background: url(../../assets/images/flower-background.png) center/cover no-repeat; 
    min-height: 100vh; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 20px; 
}

.login-container { 
    width: 100%; 
    max-width: 1000px; 
    display: flex; 
    background: #fff; 
    border-radius: 16px; 
    overflow: hidden; 
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.635); 
}

.illustration-section { 
    flex: 1; 
    background: #ecfdf5; 
    border-right: 1px solid #cbd5e1; 
    padding: 40px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.illustration {
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    margin-top: 40px;
}

.form-section { 
    width: 500px; 
    padding: 48px 40px; 
}

.form-title {
    margin-bottom: 20px;
    font-size: 28px;
    color: #1e3a8a;
}
    
.form-subtitle {
    margin: 8px 0 24px;
    color: #64748b;
}

.form-group {
    margin-bottom: 14px;
}

.form-input {
    width: 100%;
    height: 46px;
    padding: 0 12px;
    border: 1px solid black;
    border-radius: 8px;
}

.login-btn,.register-link-btn,.guest-link-btn {
    width: 100%;
    height: 46px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.login-btn {
    background: #1e3a8a;
    color: #fff;
}

.register-link-btn,.guest-link-btn {
    background: #e2e8f0;
}

.remember-row,.agreement-row {
    display: flex;
    gap: 8px;
    align-items: flex-start;
    font-size: 13px;
    color: #475569;
    margin-top: 10px;
    margin-bottom: 8px;
}

.or-p {
    text-align: center;
    margin-top: 5px;
    color: #64748b;
}

.register-page {
    max-width: 600px;
}

.register-page .form-section {
    width: 100%;
}

@media (max-width:900px) {
    .login-container {
        flex-direction: column;
    }
    
    .form-section {
        width: 100%;
    }
}